@import "../variables.scss";
@import "../mixins";

.header{
  background-color: $background-color;
  box-shadow: 0 3px 10px $shadow-color;
margin-bottom:24px ;
padding:0 ;
@media only screen and (min-width: 635px){
  padding:2px 0 2px 0;
}
  .container {
  @include container;
  color: $dblue-text-color;
  align-items: center;

  .categories {
    @include border;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    gap: 5px;
    background-color: $fourth-color-blur;
    padding: 2px;

  }
  .list{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
margin: 0;
    @media only screen and (min-width: 635px) {
      display: flex;
      justify-content: space-between;
    }
  }

  li {
    list-style: none;
    margin: 10px;

    a {
      text-decoration: none;
      color: $dblue-text-color;
      transition: 0.5s;
      
      &:hover {
        color: $first-color;
        font-weight: bold;
      }
     
    }
  }
  // .toggle {
  //   background-color: $fifth-color;
  //   border: 2px solid $dblue-text-color;
  //   border-radius: 6px;
  //   padding: 3px 6px;
  //   margin-left: 40px;
  //   cursor: pointer;

  //   svg{
  //       color: $dblue-text-color;
  //   }
  // }
}
}