@import "./variables";

@mixin container(
  $display: flex,
  $margin: auto,
  $max-width: 90%,
  $padding: 2px,
  $justify-content: space-between
) {
  display: $display;
  margin: $margin;
  max-width: $max-width;
  padding: $padding;
  justify-content: $justify-content;
}

@mixin border(
  $box-shadow: 1px 3px 10px $shadow-color,
  $border-radius: 10px
) {
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}