$first-color: #5e8ca5;
$second-color: #91abbf;
$third-color: #a4c6de;
$fourth-color: #c5c3c6;
$fifth-color: #e0d9d6;

$light-text-color:#f5f5f5;
$dark-text-color: #656566;
$dblue-text-color: #4e7185;
$shadow-color: hsl(202, 26%, 30%);

$background-color: rgba(255, 255, 255, 0.6);
$fourth-color-blur: hsla(280, 3%, 77%, 0.65);
$fifth-color-blur: rgba(224, 217, 214, 0.5);